* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif
}
.header-content,
.main-content {
    max-width: none;
    width: auto;
    margin-right: 12%;
    margin-left: 12%;
}
h1 {
    color: #657786;
    margin: 20px 0;
    text-align: center;
}

.main-content {
    padding-top: 5%;
}
.sub-content {
    margin-left: 200px;
}
.well.well-desc {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.well.nomb {
    margin-bottom: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.smtp-chat li,
.well-desc li {
    padding: 3px 0;
}
.well-desc li {
    padding: 6px 0;
}
.action-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #6c757d;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    cursor: pointer;
}
.pres-btn {
    float: right;
}
.gea-btn {
    float: left;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.submit-btn {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}
.banner {
    background-color: #2196F3;
    padding-bottom: 20px;
}
.banner .banner-container {
    margin: 0;
    padding: 50px 0;
    color: #fff;
    padding-bottom: 35px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.page-header {
    background-color: #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    height: 60px;
    text-align: center;
    width: 100%;
    position: fixed;
    box-shadow: 3px 3px 15px -7px rgba(0,0,0,.47);
    z-index: 100;
}

.main-info {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.47);
    border-radius: 5px;
}
.main-info .section {
    padding: 20px 30px;
    padding-bottom: 0;
}

.page-header a {
    text-decoration: none
}

.download-header-link:hover {
    opacity: .6
}

.logo, .logo:hover {
    display: inline-block;
    line-height: 58px;
    vertical-align: middle
}

.header-link {
    color: #3c4a4d;
    line-height: 58px;
    letter-spacing: -0.025rem
}

.logo-image {
    width: 20%;
    vertical-align: middle
}

.banner-text {
    display: inline-block;
    vertical-align: middle
}

.banner-container {
    color: #2196F3;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -0.025rem;
    margin-bottom: 1.5rem;
    margin-top: 58px;
    vertical-align: middle
}

.contributors-container {
    text-align: center
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #2196F3;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    padding: 0px 0 10px 0;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
    border-bottom: 12px solid #2196F3;
}
h3 {
    color: #2196F3;
    margin-bottom: 10px;
}

p, li {
    line-height: 1.5rem;
    letter-spacing: 0rem;
    color: #657786;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    letter-spacing: normal;
    word-spacing: normal
}

ul {
    margin-left: 20px
}

.main-content a {
    color: #2196F3;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.03rem;
    background: transparent;
    padding-right: 0;
    padding-left: 0
}

.main-content a:hover {
    color: #2196F3;
    text-decoration: underline;
}

.main-info .section.first-section {
    margin-top: 50px
}
.main-info .section.last-section {
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.section-image {
    display: inline-block;
    vertical-align: middle;
    width: 220px
}

.section-image-container {
    display: inline-block;
    vertical-align: middle
}

.section-text {
    display: inline-block;
    vertical-align: middle;
    max-width: 70%
}

.mustache {
    height: 6px;
    width: 72px;
    background-color: #2196F3;
    margin-bottom: 20px
}

.state-section {
    backgroud-color: #F5F8FA
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-check-input {
    position: absolute;
    margin: 0;
    margin-top: .3rem;
    margin-left: -1.25rem;
}
.form-check-label {
    margin-bottom: 0;
    margin-top: .2rem;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.text-right {
    text-align: right!important;
}
.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}
blockquote {
    margin: 0 0 1rem;
}
.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
}
.blockquote-footer::before {
    content: "\2014 \00A0";
}
.social-wrap {
    width: 50%;
    float: left;
}
.social-left .well {
    margin-right: 10px;
}
.social-right .well {
    margin-left: 10px;
    padding: 17px;
}

/*Tables*/
table {
    border-collapse: collapse;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    color: #657786;
    background-color: transparent;
}
.table-bordered {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    line-height: 1.5rem;
    border-top: 1px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
ul.smtp-chat {
    list-style-type: none;
}
.smtp-chat li {
    margin: 0;
    text-align: left;
}
.smtp-chat-b {
    color: blue;
}
.smtp-chat-m {
    font-style: italic;
}

/*PrevNext*/
.previous, .next {
    text-decoration: none;
    display: inline-block;
    padding: 3px 16px;
}

.previous:hover, .next:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    margin-right: 20px;
}

.next {
    background-color: #f1f1f1;
    color: black;
    margin-left: 20px;
}
.title-block {
    list-style-type: none;
    margin:0 auto;
    display: table;
}
.title-block li {
    display: table-cell;
    margin: 0 !important;
    vertical-align: middle;
}
.title-block h4 {
    font-size: 1.5em;
}
.main-content a:hover {
    background: transparent;
}
@media (max-width: 960px) {
    .big-banner {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
@media (max-width: 550px) {
    .page-header {
        font-size: .75rem;
        font-weight: 500
    }

    .download-header-link {
        margin-right: 5%;
        margin-top: 9px
    }

    .logo, .logo:hover {
        margin-left: 5%
    }

}

@media (max-width: 850px) and (min-width: 530px) {
    .logo-image {
        width: 15%
    }

    .banner-container {
        font-size: 2rem;
    }
}

@media (max-width: 530px) {
    .logo-image {
        width: 15%
    }

    .banner-container {
        font-size: 1.2rem;
    }

    .header-content .logo img {
        width: 60px;
    }

    .header-content .action-btn {
        font-size: .7rem;
    }
}

@media (max-width: 1000px) and (min-width: 500px) {
    .section-image {
        width: 100px
    }
}

@media (max-width: 500px) {
    .section-image {
        visibility: hidden;
        width: 0px
    }

    .section-text {
        max-width: 100%
    }

    #rc-imageselect, .g-recaptcha {
        transform:scale(0.67);
        -webkit-transform:scale(0.67);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

@media (max-width: 320px) {
    .header-content .logo img {
        display: none;
    }

}